head
    if context.showAnalytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-159453647-2")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-159453647-2');
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="google" content="notranslate")
    title Tournament Management
    link(rel="stylesheet",
        href="https://unpkg.com/purecss@1.0.1/build/pure-min.css",
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47",
        crossorigin="anonymous")
    link(rel="stylesheet",
        href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css")
    link(rel="stylesheet",
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
    script(src="https://kit.fontawesome.com/c82fdecc98.js", crossorigin="anonymous")
    style.
        body {
            background-color: #080808;
            color: #e2e2e2;
            font-size: 14px;
            overflow: hidden;
        }

        .pure-g [class*=pure-u] {
            font-family: 'Poppins', sans-serif;
        }

        p, ol, ul {
            font-size: 1.4em;
            line-height: 1.6em;
        }

        .pure-form input,
        .pure-form textarea,
        .pure-form select,
        .pure-form input[readonly],
        .pure-form textarea[readonly],
        .pure-form select[readonly] {
            color: white;
            background-color: #3a3a3a;
        }

        .pure-form legend {
            color: #f99e00;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .pure-form .pure-form-message-inline {
            font-style: italic;
            color: #e2e2e2;
        }

        .pure-form-aligned .pure-control-group label {
            width: 16em;
        }

        .pure-form-aligned .pure-controls {
            margin: 1.5em 0 0 17em;
        }

        .pure-form input[type=checkbox] {
            transform: scale(2);
            margin-left: 0.5em;
        }

        .pure-table caption {
            color: #2a9fd6;
        }

        a {
            color: #2a9fd6;
            text-decoration: none;
            line-height: 20px;
            border-bottom: 2px solid transparent;
        }

        a:hover {
            border-bottom: 2px solid #f99e00;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
        }

        h2 {
            color: #f99e00;
        }

        h1 > small {
            margin-left: 12px;
            opacity: 0.8;
            font-size: 0.4em;
        }

        body {
        }

        .back {
            font-size: 2em;
            font-weight: bold;
            top: 38px;
            position: relative;
            text-align: center;
        }

        .back a {
            color: #f99e00;
        }

        .header {
            display: grid;
            background: transparent url('/assets/ACSENSION_HEADER_B.png') 0 0 no-repeat padding-box;
            grid-template-columns: 450px auto;
            height: 240px;
        }

        .header .left {
            padding: 24px;
        }

        .header #logo {
            margin-right: 24px;
        }

        .header h1 {
            letter-spacing: 10px;
        }

        .header h1 .accent {
            color: #f99e00;
        }

        .header #logo img {
        }

        .header .right {
            justify-self: right;
            padding: 24px;
        }

        .header .top-menu {
        }

        .header .top-menu > * {
            margin-left: 12px;
        }

        .error-message {
            color: red;
        }

        .pure-button.primary {
            background-color: #2a9fd6;
            color: white;
            font-size: 0.8em;
        }

        .pilot {
            display: flex;
            justify-content: left;
            align-items: flex-start;
        }

        .pilot img {
            width: 40px;
            margin-right: 6px;
            border-radius: 6px;
            border: 3px solid transparent;
        }

        button.clippy {
            margin: 0 0 3px 6px;
        }

        .container {
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 240px 1fr 48px;
        }

        .header-wrapper {
        }

        .content-wrapper {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .footer-wrapper {
            display: flex;
            justify-content: center;
            font-size: 1.2em;
            padding: 12px;
        }

        .footer-wrapper a {
            margin: 0 12px;
        }
doctype html

html
    block styles

    body
        .container
            .header-wrapper
                .header
                    .left
                        //
                            a(href="/")#logo
                                img(src="/assets/logo.png")
                        h1 Tournament
                            | &nbsp;&nbsp;
                            span.accent Management
                    .right
                        //
                            .top-menu
                                a(href="/involved") Get Involved
                            if context.isTimerAdmin || context.isRef
                                .top-menu
                                    if context.isAdmin
                                        a(href="/auth/admin/thunderdome") Thunderdome

                            if context.team
                                a(href="/auth/team/join/" + team.joinUuid) Manage Team

                        if !context.user
                            a#eveLogin(href="/login/start")
                                img(src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-small.png")

                        if context.user
                            .top-menu
                                a(href="/login/logout") Logout
                                span.user
                                    a(href="/auth/profile/me")
                                        img(src=context.user.principal().getString("portrait") title="Me me me")
                                    p= context.user.principal().getString("characterName")
                                    span.token.hidden= context.user.principal().getString("token")


            .content-wrapper
                .pure-g
                    .pure-u-1-24
                    .pure-u-22-24
                        block content
                    .pure-u-1-24

            .footer-wrapper
                //
                    a(target="_blank", href="https://www.twitch.tv/5v5scrims/", style="grid-area: twitch")
                        i.fab.fa-twitch
                        | &nbsp;Twitch

                    a(target="_blank", href="https://twitter.com/5v5scrims", style="grid-area: twitter")
                        i.fab.fa-twitter
                        | &nbsp;Twitter
                a(target="_blank", href="https://www.patreon.com/bePatron?u=36212194")
                    i.fab.fa-patreon
                    | &nbsp;patreon
                a(href="/support")
                    | &nbsp;support

        script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js')
        script(src='https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/vertx/3.8.3/vertx-eventbus.min.js')
        block scripts
