extends ../../layout/tournament-layout

mixin import(type, legend)
    form.pure-form.pure-form-aligned(method="POST",
        action="/auth/tournament/" + uuid + "/roles")

        p= legend

        input(type="hidden" name="type", value=type)
        fieldset
            .pure-controls
                .errors= errors

            .pure-control-group
                label(for="tsv") Data
                textarea(name="tsv",
                    placeholder="Paste values straight from spreadsheet as a single column of pilot names, e.g.\n\nJack Spratt\nJohn Pilot\nJosie Tackle")#tsv= roles.getString(type)
            .pure-controls
                button.pure-button.pure-button-primary(type="submit") Update

block append styles
    style.
        textarea {
            width: 400px;
            height: 200px;
        }

        .errors {
            color: red;
            white-space: pre;
        }

        .pure-form-aligned .pure-controls {
            margin: 0 0 0 11em;
        }

        form p {
            font-size: 1em;
        }

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Roles")

    h3 Organisers
    mixin import("organiser", "Organisers have full permissions to carry out all admin for a tournament, manage teams, referee, etc.")

    h3 Referees
    mixin import("referee", "Referees can validate custom tournament rules and view team rosters")

    h3 Other staff
    mixin import("staff", "All other staff will can be issued Thunderdome accounts and read-only access to team rosters but have no other special priveleges.")

    h3


block scripts

