extends ../../layout/tournament-layout

block append styles
    style.
        .teammembers table {
            margin-bottom: 12px;
        }

        .main {
            display: grid;
            grid: auto 1fr / auto 1fr;
            grid-template-areas:
                    "roster matches"
                    "roster problems";
            gap: 24px;
        }

        .main .teammembers {
            grid-area: roster
        }

        .main .matches {
            grid-area: matches
        }

        .main .problems {
            grid-area: problems
        }

        .match {
            display: grid;
            grid: auto-flow / 160px auto;
        }

block content
    - var tournamentUuid = tournament.getString("uuid")
    - var teamUuid = team.getString("uuid")
    - var roles = tournament.getString("roles") == null ? "" : tournament.getString("roles")
    - var isSuperuser = character.getBoolean("isSuperuser")
    - var isCreator = tournament.getBoolean("is_creator")
    - var isCaptain = tournament.getBoolean("is_captain")
    - var isTeamCaptain = team.getBoolean("is_captain")

    mixin subtitle("Edit team")

    h3 Captain: #{team.getString("captain")}

    .main
        .teammembers
            p.no-teammembers This team doesn't have any members.
            table.pure-table
                thead
                    th Name
                    th Actions
                tbody
        .matches
        .problems
            if problems.size() > 0
                h3 Problems
                each problem in problems
                    div= problem.getString("message")

    - var isLocked = team.getBoolean("locked")
    - var canAlwaysMaintain = isSuperuser || isCreator || roles.contains("organiser")
    - var canMaintainWhenNotLocked = !isLocked && isTeamCaptain

    if canAlwaysMaintain || canMaintainWhenNotLocked
        a(href="/auth/tournament/" + tournamentUuid + "/teams/" + teamUuid + "/add-members") Add team members
        if isLocked
            a(href="/auth/tournament/" + tournamentUuid + "/teams/" + teamUuid + "/unlock-team") Unlock team
        else
            a(href="/auth/tournament/" + tournamentUuid + "/teams/" + teamUuid + "/lock-team") Lock team
    if isLocked
        a(href="/auth/tournament/" + tournamentUuid + "/thunderdome") Thunderdome accounts

block scripts
    script.
        const tournamentUuid = '#{tournamentUuid}';
        const teamUuid = '#{teamUuid}';
        const locked = #{team.getBoolean("locked")};
        const isSuperuser = #{character.getBoolean("isSuperuser")};
        const isOrganiser = #{tournament.getString("roles") != null && tournament.getString("roles").contains("organiser")};
        const isCreator = #{tournament.getBoolean("is_creator")};
        const isCaptain = #{tournament.getBoolean("is_captain")};
        const isTeamCaptain = #{team.getBoolean("is_captain")};
        const isPilot = #{tournament.getBoolean("is_pilot")};
    script(src='/js/teams/edit.js')
