extends ../../layout/tournament-layout

block append styles
    style.
        .teammembers table {
            margin-bottom: 12px;
        }

block content
    - var tournamentUuid = tournament.getString("uuid")
    - var teamUuid = team.getString("uuid")

    mixin subtitle("Edit team")

    h3 Captain: #{team.getString("captain")}

    .teammembers
        .no-teammembers This team doesn't have any members.
        table.pure-table
            thead
                th Name
                th Actions
            tbody

    if !team.getBoolean("locked")
        a(href="/auth/tournament/" + tournamentUuid + "/teams/" + teamUuid + "/add-members") Add team members
        a(href="/auth/tournament/" + tournamentUuid + "/teams/" + teamUuid + "/lock-team") Lock team
    if team.getBoolean("locked")
        a(href='#') Thunderdome accounts

block scripts
    script.
        const tournamentUuid = '#{tournamentUuid}';
        const teamUuid = '#{teamUuid}';
        const locked = #{team.getBoolean("locked")};
        const isSuperuser = #{character.getBoolean("isSuperuser")};
        const isOrganiser = #{character.getBoolean("isOrganiser")};
    script(src='/js/teams/edit.js')
